body {font-family: Arial, Helvetica, sans-serif; margin:30px 100px;}

.imgcontainer {
  padding: 10px 0;
  display:flex;
}

.imgcontainer img { width: 0%; flex: 1;
  height: 2%;
  border-radius: 50%;
}
.imgcontainer h4{
  flex:1;
}
hr{
  width:100%;
  background-color:white;
  height: 2px;
  margin:0px;
}
.info{
  padding: 20px 0;
  
}
.friends{
  overflow: auto;
  height: 500px;
}

.head{
	background-color:#4CAF50;
	color:white;
	text-align: center;
	padding: 20px;}
  .row{
    display: grid;
    grid-template-columns: 300px auto;
  }
  .column1{
     padding: 0px 30px;
    background-color: lightgray;
    height: 800px;
   
  }
   .info a{ font-weight: bold;
    color:#4CAF50;
  }
  .column2{
  border:1px solid gray; height:800px; 
    background-color:ghostwhite ;

    
  }
  .messages{
    min-height: 80%;
    max-height: 80%;
    margin:10px; overflow: auto;
  }
 
.white-msg{
  border: 0.5px solid gray; padding:10px;
  background-color: white; margin:10px;
}
.grey-msg{ margin:2px 10px;
  border: 0.5px solid gray; padding:10px;
  background-color: lightgray;
}
 form{  background-color: #4CAF50; 
      transform: translateY(30px);
  min-height: 12%; max-height: 15%; 

 }
form textarea{ font-size: 16px;
  width: 90%;
  height: 10%
  
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin:10px;
  }

form button{  -webkit-border-radius: 10px;
  border: none; float: right; margin:10px;
  background-color: white; color:#4CAF50; width: 5%; height: 40%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;

 }
form input{
  margin:10px;
  width:50%;
}
 .new{
  color: white;
  margin:10px;
 }
